<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aerodromeApp">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aerodrome">
        <activity
            android:name="com.example.aerodromeApp.CitysActivity"
            android:parentActivityName="com.example.aerodromeApp.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDn4-Dxr07FtO4x2JTYnC6Bh2rvwNA3cXA" />

        <activity
            android:name="com.example.aerodromeApp.VideoEditerFolder.PortraitCameraActivity"
            android:screenOrientation="nosensor" />
        <activity android:name="com.example.aerodromeApp.SoundActivity" />
        <activity android:name="com.example.aerodromeApp.ProfileActivity" />
        <activity android:name="com.example.aerodromeApp.RelaxoActivity" />
        <activity android:name="com.example.aerodromeApp.ShopActivity" />


        <activity
            android:name="com.example.aerodromeApp.UploadVideoActivity2"
            android:parentActivityName="com.example.aerodromeApp.VideoEditerFolder.BaseCameraActivity" />
        <activity
            android:name="com.example.aerodromeApp.CityInfoActivity"
            android:parentActivityName="com.example.aerodromeApp.CitysActivity"></activity>
        <activity android:name="com.example.aerodromeApp.MapActivity" />
        <activity
            android:name="com.example.aerodromeApp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>